#title {
    background-color: #ff4c68;
    padding: 0 8rem;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 1.5;
    color: white;
}


.phone {
    width: 60%;
    transform: rotate(25deg);
}

.navbar-brand {
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
}

.navbar-nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.features-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 25%;
}

.features-icon {
    color: #ef8172;
}

.features-icon:hover {
    color: #ff4c68;
}

.features-desc {
    color: #8f8f8f;
    padding: 0 20%;
}

#features {
    text-align: center;
    padding: 7% 12%;
}

.features-box {
    padding: 5%;
}

/* testimonials section  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.testimonials-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    border-radius: 100%;
    width: 10%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.testimonial-carousel {
    padding: 7% 20%;
}