#title {
    background-color: #ff4c68;
    padding: 2rem 8rem;

}

.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 1.5;
    color: white;
}


.phone {
    width: 17.5%;
    transform: rotate(25deg);
    z-index: 0;
    position: absolute;
    bottom: 4rem;
    margin-left: 10%;
}

.navbar-brand {
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
}

.navbar-nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.features-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 25%;
}

.features-icon {
    color: #ef8172;
}

.features-icon:hover {
    color: #ff4c68;
}

.features-desc {
    color: #8f8f8f;
    padding: 0 20%;
}

#features {
    text-align: center;
    padding: 7% 12%;
    background-color: white;
    z-index: 1;
    position: relative;
}

.features-box {
    padding: 5%;
}

/* testimonials section  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonials-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    border-radius: 100%;
    width: 10%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.testimonial-carousel {
    padding: 7% 20%;
}

#pricing {
    padding: 10%;
}

.pricing-heading {
    font-size: 3rem;
}

@media (max-width: 1028px) {
    .phone{
        position: static;
        transform: rotate(0deg);
        width: 80%;
        margin-left: 0;
    }
    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
}

.cta-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4rem;
    padding: 2rem 23rem;
}

.cta-button {
    margin: 2% 1.75% 8% 0;
}

#footer {
    background-color: white;
}

.icons {
    margin: 7% 1% 2% 1%;
}

.footer-p {
    margin-bottom: 7%;
    font-size: 1.25rem;
}